In [1]:
lax_coordinates = (33.9425, -118.40856)
city, year, pop, chg, area = ('Tokyo',2003, 32450, 0.66, 8014)
traveler_ids = [('USA','31195855'),('BRA','CE342567'),('ESP','XDA205856')]

In [2]:
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [3]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

In [4]:
latitude, longitude = lax_coordinates
latitude, longitude

(33.9425, -118.40856)

In [5]:
divmod(20,8)

(2, 4)

In [6]:
t = (20,8)

In [7]:
divmod(*t) # adding a star as a prefix to an argument is tuple unpacking

(2, 4)

In [8]:
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

In [9]:
import os

In [10]:
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub') # os.path.split builds a tuple function(path, last_path)
print(filename)

idrsa.pub

In [11]:
print(_)

/home/luciano/.ssh

using * to grab excess item

In [12]:
a, b, *rst = range(10)

In [13]:
a, b, rst

(0, 1, [2, 3, 4, 5, 6, 7, 8, 9])

In [14]:
a,b,*rest = range(2)

In [15]:
rest

[]

In [16]:
a,b

(0, 1)

In [17]:
a, *body,c,d = range(6)

In [18]:
a,body, c, d

(0, [1, 2, 3], 4, 5)

Nested tuple unpacking

In [19]:
metro_areas = [
    ('Tokyo','JP',36.933,(35.68,139.691)),
    ('Delhi NCR','IN', 21.935,(28.61,77.2088)),
    ('Mexico city','MX',20.142,(19.43,-99.13)),
    ('New York- Newark','US',20.104,(40.80,-74.02))
]

In [20]:
for name, cc,pop,(latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(f'{name} | {longitude}')

Mexico city | -99.13
New York- Newark | -74.02

In [21]:
gameresults = ['loss','win','win','loss','win','loss']

In [22]:
gameresults.count('win')

3

Define using Namedtuple types

In [23]:
from collections import namedtuple

In [28]:
City = namedtuple('City', 'name  country population coordinates')

In [29]:
tokyo = City('Tokyo','JP','36.933',(35.68, 139.69))
tokyo

City(name='Tokyo', country='JP', population='36.933', coordinates=(35.68, 139.69))

In [31]:
tokyo.coordinates

(35.68, 139.69)

other attributes to namedtuple

In [32]:
# _field class attribute

tokyo._fields

('name', 'country', 'population', 'coordinates')

In [41]:
LatLong = namedtuple('LatLong','lat long')

In [42]:
delhi_data = ('Delhi NCR', 'IN', 21.93, LatLong(28.61, 77.20))

In [43]:
delhi_data

('Delhi NCR', 'IN', 21.93, LatLong(lat=28.61, long=77.2))

In [49]:
delhi = City._make(delhi_data)

In [50]:
delhi._asdict()

{'name': 'Delhi NCR',
 'country': 'IN',
 'population': 21.93,
 'coordinates': LatLong(lat=28.61, long=77.2)}

In [51]:
for key, value in delhi._asdict().items():
    print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.93
coordinates: LatLong(lat=28.61, long=77.2)